<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bonds List</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>List of Bonds</h1>
  <ul>
    <% if (bonds && bonds.length > 0) { %>
      <% bonds.forEach(function(bond) { %>
        <li><%= bond.bondname %> - <%= bond.abbreviation %> - $<%= bond.currentprice %></li>
      <% }); %>
    <% } else { %>
      <li>No bonds available</li>
    <% } %>
  </ul>
  <a href="/">Go Back Home</a>
</body>
</html>
