<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1> Welcome to the Stock Brokerage System</h1>
    <ul>
        <li><a href="/investors">Manage Investors</a></li>
        <li><a href="/bonds">Manage Bonds</a></li>
        <li><a href="/stocks">Manage Stocks</a></li>
    </ul>
</body>
</html>